/* цвет остновного текста #212121 */

/* цвет вторичного текста rgba(117, 117, 117, 1) */

/* акцент rgba(33, 150, 243, 1) */

/* цвет контактов в футере rgba(255, 255, 255, 0.6) */


/* Satting */
:root{
    --primery-text-color: rgba(117, 117, 117, 1);
    --title-text-color: rgba(33, 33, 33, 1);
    --accent-color: rgba(33, 150, 243, 1);
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --hero-color: rgba(255, 255, 255, 1);
    --batton-portfolio: rgba(245, 244, 250, 1);
    --page-color: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
}
ul li{list-style: none;}


body {
    background-repeat: var(--page-color);
    color: var(--primery-text-color);
    font-family: Roboto,sans-serif;
    letter-spacing: 0.03em;
}
/* --------------------------------------------------  */
/* Header */

.logo {
    color: var(--accent-color);
    font-family: Raleway,sans-serif;
}
.logo-studio {
    color: var(--title-text-color);
}

/* Site nav  */
.site-nav .link {
    color: var(--title-text-color);
    letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current{
color: var(--accent-color);
}

.auth-nav a{
color: var(--title-text-color);
letter-spacing: 0.02em;
}

.auth-nav a:hover,
.auth-nav a:focus{
    color: var(--accent-color);
    }
/* --------------------------------------------------  */
    

/* main  */
 /* hero  */
.hero-title{
        color: var(--hero-color);
    }
button{
    color: var(--hero-color);
    background-color: var(--accent-color);
}

h2,
h3,
h4 {
    color: var(--title-text-color);
}
/* Особености  */

.features-content{
    
}


/* --------------------------------------------- */
  /* footer  */

.address{
    color: var(--hero-color);
}

/* main-pertfolio  */
.btn{
    background-color: var(--batton-portfolio);
}
.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
}
.auth-nav a {
    color: var(--title-text-color);
}
